.thanksPage {
  font-size: 18px;
}

.container {
  max-width: 1244px;
}

.imgGiftmasWreath {
  width: 100%;
  max-width: 200px;
  @media (min-width: 768px) {
    max-width: 290px;
  }
}
.imgBoxesOfGifts {
  width: 100%;
  max-width: 200px;
  @media (min-width: 768px) {
    max-width: 600px;
  }
}

.cta {
  background: #ff555c;
}

.textarea {
  &::placeholder {
    color: rgba($dark-blue-secondary, 0.5);
  }
}